---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

import vision from '../images/vision.png';
import mission from '../images/mission.png';
import whatwedo from '../images/whatwedo.png';
import healthsocial from '../images/healthsocial.png';
import wherewework from '../images/wherewework.png';
import whoweserve from '../images/whoweserve.jpg';
import partners from '../images/partners.jpg';

let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

let allMedia = await Astro.glob('./media/*.md');
allMedia = allMedia.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <div class="flex flex-col content-center pt-20 pb-20">
            <h2 class="font-bold">WHO WE ARE</h2>
            <p>
              Hlokomela was established in 2005 in response to research that
              highlighted a critical need for health care among farm workers and
              other vulnerable populations in the greater Hoedspruit area. Since
              then, Hlokomela has been a prominent and respected role player in
              the health and well-being of the local community, serving about 60
              000 people annually (direct and indirect beneficiaries).
            </p>
          </div>
          <div class="flex flex-col content-center pt-5 pb-20">
            <h2 class="font-bold">WHO WE BECAME</h2>
            <p>
              In 2020, faced with the COVID-19 pandemic, Hlokomela capitalised
              on its identity which has been built up over 15 years of caring.
              Hlokomela showed its mettle by stepping up and leading the
              COVID-19 response in Hoedspruit, Limpopo as well as in other areas
              of the Mopani District where the organisation implements
              programmes. We were strengthened even more as the organisation and
              its staff were challenged in an extra-ordinary time to do
              extra-ordinary things to maintain the high level of service
              Hlokomela is known for. All this was achieved at the same time
              staff and researchers worked hard at piloting a partial payment
              system that would hopefully secure the financial viability of the
              organisation once implemented in full.
            </p>
          </div>
          <div class="flex flex-col md:flex-row pt-5 pb-20">
            <div
              class="bg-amber-950 md:w-1/2 flex flex-col content-center align-center justify-center h-96 w-96 p-5"
            >
              <img src={vision} class="h-24" alt="vision icon" />
              <h2 class="text-white font-bold">OUR VISION</h2>
              <p class="text-white">
                Create a culture of caring that empowers all
              </p>
            </div>
            <div
              class="bg-[#5db1bd] md:w-1/2 flex flex-col content-center align-center justify-center h-96 w-96 p-5"
            >
              <img src={mission} alt="mission icon" />
              <h2 class="text-white font-bold">OUR MISSION</h2>
              <p class="text-white">
                To provide quality, all-inclusive health care to everyone in the
                Kruger2Canyons Biosphere Region
              </p>
            </div>
          </div>
          <div class="pt-5 pb-20">
            <h2 class="flex flex-col content-center font-bold">WHAT WE DO</h2>
            <p>
              Hlokomela’s services and projects are focussed into three main
              areas of priority; Healthcare, Income Development Projects &
              Administration.
            </p>
            <img src={whatwedo} alt="what we do chart" class="pt-20" />
          </div>
          <div
            class="bg-sky-100 flex flex-col content-center pt-5 pl-10 pr-10 pb-10"
          >
            <img src={healthsocial} alt="mission icon" />
            <h2 class="font-bold">HEALTH & SOCIAL PROGRAMMES</h2>
            <p>
              Our health and social care programmes offer biomedical, social and
              structural interventions to reduce HIV, TB and STIs. Our services
              cover the continuum of care ranging from combination prevention to
              treatment and retention as well as sexual and reproductive health.
              Social programmes include psychosocial support and programmes to
              reduce gender based violence and human rights violations.
            </p>
          </div>
          <div class="flex flex-col content-center pt-20 pb-20">
            <h2 class="font-bold">WHERE WE WORK</h2>
            <p>
              Our health and social care programmes offer biomedical, social and
              structural interventions to reduce HIV, TB and STIs. Our services
              cover the continuum of care ranging from combination prevention to
              treatment and retention as well as sexual and reproductive health.
              Social programmes include psychosocial support and programmes to
              reduce gender based violence and human rights violations.
            </p>
            <img src={wherewework} alt="where we work map" />
          </div>
          <div class="flex flex-col content-center pt-5 pb-20">
            <h2 class="font-bold">WHO WE SERVE</h2>
            <p>
              Farms in the Mopani District not only employ permanent workers,
              but also a large number of seasonal workers during picking
              seasons. Many of these seasonal workers are migrants from other
              areas of South Africa, Mozambique, Zimbabwe, and elsewhere in
              Southern Africa. Hlokomela currently provides services to workers
              and their families on 71 sub project sites in the Hoedspruit
              community, as well as to a number of employees on private nature
              reserves adjacent to the Kruger National Park. An estimated 25 000
              farm workers and their families benefit directly from Hlokomela
              services. Each month, Hlokomela helps approximately 1 700 clients
              access HIV Testing Services (HTS), and helps 2 000 people living
              with HIV receive antiretroviral therapy (ART) at three Wellness
              Clinic sites and 7 mobile sites (Hlokomela, Bavaria, Richmond,
              Klaserie Private Nature Reserve, Ngala, Thornybush Waterside,
              South African Wildlife College, Singita Lebombo, Phelwana and
              Timbavati Foundation). Hlokomela’s public awareness campaigns
              provide information about HIV and AIDS to the entire community.
            </p>
            <img src={whoweserve} alt="who we serve image" class="pt-5" />
          </div>
          <div class="flex flex-col content-center pb-20">
            <h2 class="font-bold">OUR PARTNERS</h2>
            <img src={partners} alt="partners image" />
          </div>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
