---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

import vision from '../images/vision.png';
import mission from '../images/mission.png';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

let allMedia = await Astro.glob('./media/*.md');
allMedia = allMedia.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />

    <style>
      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .intro > * {
        margin: 0;
      }

      footer {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <div>
            <h1>WHO WE ARE</h1>
            <p>
              Hlokomela was established in 2005 in response to research that
              highlighted a critical need for health care among farm workers and
              other vulnerable populations in the greater Hoedspruit area. Since
              then, Hlokomela has been a prominent and respected role player in
              the health and well-being of the local community, serving about 60
              000 people annually (direct and indirect beneficiaries).
            </p>
          </div>
          <div>
            <h1>WHO WE BECAME</h1>
            <p>
              In 2020, faced with the COVID-19 pandemic, Hlokomela capitalised
              on its identity which has been built up over 15 years of caring.
              Hlokomela showed its mettle by stepping up and leading the
              COVID-19 response in Hoedspruit, Limpopo as well as in other areas
              of the Mopani District where the organisation implements
              programmes. We were strengthened even more as the organisation and
              its staff were challenged in an extra-ordinary time to do
              extra-ordinary things to maintain the high level of service
              Hlokomela is known for. All this was achieved at the same time
              staff and researchers worked hard at piloting a partial payment
              system that would hopefully secure the financial viability of the
              organisation once implemented in full.
            </p>
          </div>
          <div class="flex flex-col md:flex-row">
            <div class="bg-amber-950 md:w-1/2 lg:w-1/3 h-64 md:h-auto">
              <img src={vision} class="h-24" />
              <h1 class="text-white">OUR VISION</h1>
              <p class="text-white">
                Create a culture of caring that empowers all
              </p>
            </div>
            <div class="bg-[#5db1bd] md:w-1/2 lg:w-2/3 h-64 md:h-auto">
              <img src={mission} alt="" srcset="" />
              <h1 class="text-white">OUR MISSION</h1>
              <p class="text-white">
                To provide quality, all-inclusive health care to everyone in the
                Kruger2Canyons Biosphere Region
              </p>
            </div>
          </div>
        </section>
        <section aria-label="Blog post list">
          {allPosts.map((p) => <BlogPostPreview post={p} />)}
        </section>
        <div class="flex flex-col md:flex-row">
          <div class="bg-gray-300 md:w-1/2 lg:w-1/3 h-64 md:h-auto">
            <section aria-label="Blog post list">
              {allPosts.map((p) => <BlogPostPreview post={p} />)}
            </section>
          </div>
          <div class="bg-gray-500 md:w-1/2 lg:w-2/3 h-64 md:h-auto">
            <section aria-label="Blog post list">
              {allMedia.map((p) => <BlogPostPreview post={p} />)}
            </section>
          </div>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
