---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

// Component Script
let { title } = SITE;
let description = ''; // TODO: Move to head
let permalink = 'https://www.hlokomela.org.za/';

// Images
import kwela from '../images/kwela.jpg';
import coverup from '../images/coverup.jpg';

// Icons
import File from '../images/icons/file.astro';

// Sorting Function
function sortByPublishDate(a, b) {
  return (
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
  );
}

// Static content
import coverUpEnglish from '../static/coverupenglish.pdf';
import coverUpSepedi from '../static/coverupsepedi.pdf';
import coverUpXitsonga from '../static/coverupxitsonga.pdf';

// Data Fetching: List all Markdown posts in the repo.
let allMedia = await Astro.glob('./media/*.md');
allMedia = allMedia.sort(sortByPublishDate);

let allForms = await Astro.glob('./forms/*.md');
allForms = allForms.sort(sortByPublishDate);

let allAnnualReports = await Astro.glob('./annualreports/*.md');
allAnnualReports = allAnnualReports.sort(sortByPublishDate);
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />

    <style></style>
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <div class="flex flex-col content-center mt-10 mb-10">
            <h2 class="font-bold text-center">PRESS & MEDIA INFORMATION</h2>
            <a
              href="https://www.youtube.com/watch?v=k9lxk3RGGIE&feature=youtu.be&fbclid=IwAR2vHRyTdZctrA5fL0twwNBPlvdmoYEbWQS7iZQ1W1vYwa4YO3KD2xBgD8U"
            >
              <img class="w-[30rem]" src={kwela} alt="Kwela Image" />
            </a>
          </div>
          <div
            class="flex flex-col md:flex-row border-b border-gray-200 dark:border-gray-600 p-10"
          >
            <div class="md:w-1/2 lg:w-2/3 h-64 h-full md:h-auto">
              <section>
                <img class="w-[26rem] h-full" src={coverup} alt="Cover Up" />
              </section>
            </div>
            <div class="md:w-1/2 lg:w-2/3 h-64 md:h-auto pl-20 pr-20">
              <section>
                <ul>
                  <li>
                    <a class="flex p-5" href={coverUpEnglish}>
                      <File /> 'COVER UP' - ENGLISH
                    </a>
                  </li>
                  <li>
                    <a class="flex p-5" href={coverUpSepedi}>
                      <File /> COVER UP' - SEPEDI
                    </a>
                  </li>
                  <li>
                    <a class="flex p-5" href={coverUpXitsonga}>
                      <File /> COVER UP' - XITSONGA
                    </a>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </section>
        <div class="flex flex-col md:flex-row">
          <div class="md:w-1/2 lg:w-2/3 h-64 md:h-auto">
            <h2 class="font-bold">MEDIA PACK</h2>
            <section>
              {allMedia.map((p) => <BlogPostPreview post={p} />)}
            </section>
            <h2 class="font-bold">FORMS</h2>
            <section>
              {allForms.map((p) => <BlogPostPreview post={p} />)}
            </section>
          </div>
          <div class="md:w-1/2 lg:w-2/3 h-64 md:h-auto">
            <h2 class="font-bold">ANNUAL REPORTS</h2>
            <section>
              {allAnnualReports.map((p) => <BlogPostPreview post={p} />)}
            </section>
          </div>
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
