---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import ProjectVideoPreview from '../components/ProjectVideoPreview.astro';
import ArticleLinksPreview from '../components/ArticleLinksPreview.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

// Component Script
let { title } = SITE;
let description =
  'Reducing HIV vulnerability through peer education, raising of awareness, prevention and treatment in Limpopo and Mpumalanga, South Africa.';
let permalink = 'https://www.hlokomela.org.za/';

// Images
import kwela from '../images/kwela.jpg';
import coverup from '../images/coverup.jpg';

// Icons
import FileIcon from '../images/icons/file.astro';

// Sorting Function
function sortByPublishDate(a, b) {
  return (
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
  );
}

// Static content
import coverUpEnglish from '../static/coverupenglish.pdf';
import coverUpSepedi from '../static/coverupsepedi.pdf';
import coverUpXitsonga from '../static/coverupxitsonga.pdf';

// Data Fetching: List all Markdown posts in the repo.
let allMedia = await Astro.glob('./media/*.md');
allMedia = allMedia.sort(sortByPublishDate);

let allForms = await Astro.glob('./forms/*.md');
allForms = allForms.sort(sortByPublishDate);

let allAnnualReports = await Astro.glob('./annualreports/*.md');
allAnnualReports = allAnnualReports.sort(sortByPublishDate);

let allArticleLinks = await Astro.glob('./articlelinks/*.md');
allArticleLinks = allArticleLinks.sort(sortByPublishDate);

let allProjectVideos = await Astro.glob('./projectvideos/*.md');
allProjectVideos = allProjectVideos.sort(sortByPublishDate);
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />

    <style></style>
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <div class="flex flex-col content-center m-10">
            <h2 class="text-4xl font-bold text-center">
              PRESS & MEDIA INFORMATION
            </h2>
            <a
              href="https://www.youtube.com/watch?v=k9lxk3RGGIE&feature=youtu.be&fbclid=IwAR2vHRyTdZctrA5fL0twwNBPlvdmoYEbWQS7iZQ1W1vYwa4YO3KD2xBgD8U"
            >
              <img class="w-[50rem]" src={kwela} alt="Kwela Image" />
            </a>
          </div>
          <div
            class="flex flex-col md:flex-row border-b border-gray-200 dark:border-gray-600"
          >
            <div class="md:w-1/2 lg:w-2/3 h-64 h-full md:h-auto mb-10">
              <section>
                <img class="w-[26rem] h-full" src={coverup} alt="Cover Up" />
              </section>
            </div>
            <div class="md:w-1/2 lg:w-2/3 md:h-auto pl-20 pr-20 m-10">
              <section>
                <ul>
                  <li>
                    <a
                      class="flex p-5 text-xl md:hover:text-[#5db1bd]"
                      href={coverUpEnglish}
                    >
                      <FileIcon /> 'COVER UP' - ENGLISH
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex p-5 text-xl md:hover:text-[#5db1bd]"
                      href={coverUpSepedi}
                    >
                      <FileIcon /> COVER UP' - SEPEDI
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex p-5 text-xl md:hover:text-[#5db1bd]"
                      href={coverUpXitsonga}
                    >
                      <FileIcon /> COVER UP' - XITSONGA
                    </a>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </section>
        <div
          class="flex flex-col md:flex-row mt-10 border-b border-gray-200 dark:border-gray-600"
        >
          <div class="md:w-1/2 lg:w-2/3 md:h-auto m-10">
            <h3 class="text-3xl font-bold text-center md:text-left">
              MEDIA PACK
            </h3>
            <section>
              {allMedia.map((p) => <BlogPostPreview post={p} />)}
            </section>
            <h3 class="text-3xl font-bold text-center md:text-left md:pt-5">
              FORMS
            </h3>
            <section>
              {allForms.map((p) => <BlogPostPreview post={p} />)}
            </section>
          </div>
          <div class="md:w-1/2 lg:w-2/3 md:h-auto mb-10">
            <h3 class="text-3xl font-bold text-center md:text-left">
              ANNUAL REPORTS
            </h3>
            <section>
              {allAnnualReports.map((p) => <BlogPostPreview post={p} />)}
            </section>
          </div>
        </div>
        <div class="flex flex-col md:flex-row mt-10">
          <div class="md:w-1/2 lg:w-2/3 m-10 md:h-full md:self-start">
            <h3 class="text-3xl font-bold text-center md:text-left">
              ARTICLE LINKS
            </h3>
            <section>
              {allArticleLinks.map((p) => <ArticleLinksPreview post={p} />)}
            </section>
          </div>
          <div class="md:w-1/2 lg:w-2/3 md:h-auto">
            <h3 class="text-3xl font-bold text-center md:text-left">
              PROJECT VIDEOS
            </h3>
            <section>
              {allProjectVideos.map((p) => <ProjectVideoPreview post={p} />)}
            </section>
          </div>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
